<h1>Welcome to Bike Berlin</h1>
<h4>Your source for used bikes in Berlin</h4>
<div class="container">
	<div class="row">
		<div class=" col-xs-12 col-sm-4">
			<%= image_tag("racebike.jpg", class: "img-responsive bike") %>
		</div> <!-- closing col -->
		<div class=" col-xs-12 col-sm-4">
			<%= image_tag("racebike2.jpg", class: "img-responsive bike") %>
		</div> <!-- closing col -->
		<div class=" col-xs-12 col-sm-4">
			<%= image_tag("racebike3.png", class: "img-responsive bike") %>
		</div> <!-- closing col -->
	</div> <!-- closing row -->
	<div class="row">
		<div class="col-xs-12">
			<a href="products">Checkout Our Bikes!</a>
		</div>
	</div>
</div> <!-- closing container -->
<div id="Indicators" class="carousel slide" data-ride="carousel">

  <!-- indicators -->
  <ol class="carousel-indicators">
    <% x=-1 %>
    <% @products.each do |product| %>
      <li data-target="#Indicators" data-slide-to="<%=x.next%>" class="<%= " active" if product == @products.first %>"></li>
      <%x = x.next%>
    <% end %>

  </ol>

<!-- Slides -->
  <div class="Intro">
    <h1>Welcome to Bikestar</h1>
    <h3>your online shop for exclusive electric bikes</h3>
  </div>
  <div class="carousel-inner" role="listbox">
    <% @products.each do |product| %>
     <%= render partial: "carousel", locals: {product: product} %>
    <% end %>
  </div>

  <!-- Controls -->

  <a class="carousel-control-prev" href="#Indicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#Indicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


